body {
 font-family: sans-serif; 
}

h1 {
  font-size: 2em;
}

.container {
  display: grid;
  /* flex-wrap: wrap; */
  width: 500px;
  height: 500px;
  border: 1px solid black;
  
  
}

.container > div {
  /* background-color: rgb(167 61 61); */
  
  
}

.container > div:hover {
  background-color: red;
  
}


/* .container>div:nth-child(16n + 1) {
  width: 100%;
  border: 0;
  height: 0;
} */
